.bingoDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bingoTitle {
    font-style: italic;
    width: 100%;
    text-align: center;
}

.formBingo {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    textarea {
        width: 100%;
        height: 150px;
    }
}

.formBingo {
    width: 100%;

    .msgError {
        width: 100%;
        margin-bottom: 5px;
    }
}

.titleFormBingo {
    width: 100%;
    margin-bottom: 5px;
}

.bingo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.bingoCase {
    width: 20%;
    padding: 2px;
    height: 80px;
    text-align: center;
}

.bingoCaseContent {
    background-color: lightgrey;
    border-radius: 10px;
    height: 100%;
    border: 1px black solid;
    cursor: pointer;

    img {
        height: 100%;

    }
}

.bingoCaseContent:hover {
    background-color: white;
    filter: brightness(40%);
}

.bingoZone {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bingoContainer {
    width: 25%;
}

.bingoCaseChecked {
    background-color: #76B383 !important;
}

.bingoTitle {
    margin-bottom: 5px;
    width: 100%;
}

.bingoSubmitZone {
    width: 100%;
}

.bingoSearchZone {
    width: 100%;
}

.biome-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.biome {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.biomePokeList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokeCard {
    width: 33%;
    padding: 5px;
    cursor: pointer;
}

.pokeCardContent {
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: 5px;

    p {
        text-align: center;
        font-weight: 500;
        font-style: italic;
        color: black;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.numberPokemonOnBiome {
    width: 100%;
}

.biomeName {
    padding: 5px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: large;

}

.numberPokemonOnBiome {
    padding: 5px;
}

.timer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    left: 80%;
    width: 200px;
    position: fixed;
    border-radius: 10px;

    .icon-timer {
        width: 30%;

        img {
            height: 100%;
            border-radius: 100%;
        }
    }

    p {
        width: 70%;
        align-self: center;
        font-size: xx-large;
        font-weight: bold;
    }
    p.spinner{
        width: 21%;
        align-self: center;
        font-size: xx-large;
        font-weight: bold;
    }


}