@if (bingoData$ | async ;as bingoData) {
<div class="bingoDiv">
    @if (!bingoData.count) {
    <div class="bingoTitle">
        <h1>Bingo tool</h1>
    </div>
    <div class="formBingo">
        <div [formGroup]="bingoForm" class="formBingo">
            <p class="titleFormBingo">Paste here the bingo poke list : </p>
            @if (bingoForm.get('pokelist')?.touched && bingoForm.get('pokelist')?.errors?.["invalidValue"]) {
            <span class="msgError">
                Please copy the text provided by the game exactly without modifying it and check that there is no space
                at
                the end of the string.
            </span>
            }
            <textarea (input)="checkValidity()" formControlName="pokelist" placeholder="Paste here..."></textarea>
            <div class="bingoSubmitZone">
                @if (bingoForm.valid) {
                <button class="secondary" (click)="getBingoData()">Submit</button>
                } @else {
                <button disabled class="secondary disabled">Submit</button>
                }
            </div>
        </div>
    </div>
    }

    <div class="bingoZone">
        @if (loading) {
        <p class="spinner"></p> <!-- Affiche un message de chargement -->
        <!-- Ou tu peux ajouter un spinner ici si tu en as un -->
        } @else {
        <div class="bingoContainer">

            @if (bingoData.count) {
            <app-timer></app-timer>
            <div class="bingo">
                <div class="bingoTitle">
                    <h2>Bingo Grid</h2>
                </div>

                @for (pokemon of bingoData.pokeBingo; track $index) {
                <div class="bingoCase">
                    <div appCheckCase [pokemon]="pokemon" class="bingoCaseContent"
                        [ngClass]="{'bingoCaseChecked': pokemon.checked}">
                        <img [src]="pokemon.imgUrl" [alt]="pokemon.name">
                    </div>
                </div>
                }
                <button class="primary" (click)="deleteBingoData()">Remove</button>
            </div>
            <div class="separator">
                <img src="assets/img/pokeball.png" alt="pokeball">
                <img src="assets/img/pokeball.png" alt="pokeball">
                <img src="assets/img/pokeball.png" alt="pokeball">
            </div>
            <div class="bingoSearchZone">
                <div class="bingoTitle">
                    <h2>Search Zone</h2>
                </div>
                <div class="biome-list">
                    @for (biome of bingoData.data; track $index) {
                    <div class="biome">
                        <div class="bloc-name-cmd">
                            <p class="biomeName">{{biome.name}}</p>
                            <button class="primary" (click)="copyToClipboard('/warp jungle')">
                                Copy {{biome.name}} warp cmd
                            </button>
                        </div>
                        <div class="biomePokeList">
                            <p class="numberPokemonOnBiome">Number of pokemon in this biome : {{biome.pokeNumber}}</p>
                            @for (pokemon of biome.pokeList; track $index) {
                            <div class="pokeCard">
                                <div class="pokeCardContent" [pokemon]="pokemon" appCheckCase
                                    [ngClass]="{'bingoCaseChecked': pokemon.checked}">
                                    <p>{{pokemon.name}}</p>
                                    <img [src]="pokemon.imgUrl" [alt]="pokemon.name">
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>
}
<p-toast>
    <ng-template let-message pTemplate="message">
        <div class="msg-toast">
            {{ message.detail }}
        </div>
    </ng-template>
</p-toast>